/** @format */
/* Fonts down below */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  color: white;
  align-items: center;
  min-height: fit-content;
  background: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: "Pixelify Sans", sans-serif; */
}
html /* Very useful simple line of code down below ✔*/ {
  scroll-behavior: smooth;
}
.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
#preloader {
  background-color: #000;
  background-image: url(Images/cat.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000000; /* hehe I know 🤣😅*/
  color: #0f0;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}
#Loading {
  font-family: 'Pixelify Sans', sans-serif;
  position: relative;
  top: 20%;
}
#Loading span {
  font-family: 'Open Sans', sans-serif;
}
.myName {
  color: white;
}
.menu {
  margin: 0;
  position: fixed;
  left: 92vw;
  top: -10vh;
  width: 20px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.5s;
}
.menu li {
  position: absolute;
  left: 50%;
  list-style: none;
  transform-origin: 180px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(-30px);
}
.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  border-radius: 50%;
  transform: rotate(
    calc(360deg / -8 * var(--i))
  ); /*Might need to change 8 items*/
  color: transparent;
  transition: 1s;
  transition-delay: 0.5s;
}
.menu.active {
  left: 35%;
  top: 30%;
}
.menu.active li a {
  color: var(--clr);
}
.menu li a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--clr);
  transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
  transition: height 0.5s, width 0.5s, transform 0.5s;
  transition-delay: 0s, 0s, 0s;
}
.menu.active li a::before {
  width: 60px;
  height: 60px;
  border: 2px solid var(--clr);
  box-sizing: border-box;
  background: #000713;
  transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
  transition: transform 0.5s, height 0.5s, width 0.5s;
  transition-delay: 1s, 1.5s, 1.5s;
  rotate: 135deg;
}
.menu.active li:hover a::before {
  background: var(--clr);
  color: #000713;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}
.menu.active li {
  transform: rotate(
    calc(360deg / 8 * var(--i))
  ); /*Might need to change 8 items*/
}
.menu li a::after {
  content: '';
  position: absolute;
  left: 80%;
  width: 20px;
  height: 2px;
  background: var(--clr);
  z-index: -1;
  transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.menu.active li:hover a ion-icon {
  position: relative;
  color: #000713;
  z-index: 100000;
}
.menuToggle {
  position: absolute;
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2em;
  transition: transform 1.5s;
}
.menu.active .menuToggle {
  transform: rotate(315deg);
  left: 800%;
}
header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  height: 100vh;
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
}
header::before {
  content: '';
  background-image: url(Images/cyberspace.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.35;
}
h1 {
  position: relative;
  font-size: 2em;
  letter-spacing: 0.02em;
  cursor: pointer;
  font-weight: 500;
}
h1 span {
  transition: 0.25s;
}
h1:hover span {
  text-shadow: 0 0 5px rgb(1, 61, 1), 0 0 15px rgb(0, 78, 0),
    0 0 30px rgb(2, 61, 2);
}
.Contactbtn {
  margin-top: 10%;
  width: 50%;
  size: 10%;
  background-color: transparent;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: #0f0 1.25em soild;
  color: #ffffff;
  padding: 2%;
  border-radius: 10em;
  text-shadow: 0 0 0.125em rgb(3, 182, 146), 0 0 0.25em lime;
  position: relative;
}
#hide {
  display: none;
}
.Contactbtn::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: limegreen;
  top: 120%;
  right: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(30deg) scale(1, 0.3);
  filter: blur(1.5em);
  opacity: 0.7;
}
.Contactbtn::after {
  content: '';
  position: absolute;
  top: 0%;
  right: 0;
  left: 0%;
  bottom: 0%;
  box-shadow: 0 0 2em 0.5em lime;
  opacity: 0;
  transition: opacity 100ms linear;
}
.Contactbtn:hover::after {
  opacity: 1;
}
.Contactbtn:hover,
.Contactbtn:focus {
  background: #0f0;
  transform: scale(1.1);
}
.AboutMe {
  text-align: start;
  background-color: rgb(0, 0, 0);
  height: fit-content;
  color: white;
  flex-wrap: wrap;
  opacity: 0; /*Added this*/
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.row {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.AboutC1 {
  flex-basis: 25%;
}
#Tino {
  width: 100%;
  border-radius: 100%;
}
.AboutC2 {
  flex-basis: 70%;
}
.subTitle {
  display: block;
  color: white;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 0.5%;
  position: relative;
  top: 0.5%;
  font-family: 'Pixelify Sans', sans-serif;
}
.AboutMe p {
  background-color: #001908;
  padding: 15px;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  top: 5%;
  font-size: 1.1rem;
  height: fit-content;
  letter-spacing: 3px;
  margin-right: 10px;
}
.Extra {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  font-size: 1.9rem;
  color: #fff;
}
.View {
  display: none;
  position: relative;
  font-size: 1.3rem;
  letter-spacing: 3px;
  justify-content: center;
}
.View.Activeview {
  display: flex; /*Makes the selected area visible*/
}
.language {
  filter: grayscale(1.2);
  width: 5vw;
  display: block;
}
@keyframes floaty {
  50% {
    transform: rotate(360deg);
  }
}
.Programming {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #0f0;
  gap: 2px;
}
#TechStack {
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
}
#Education {
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
}
#Experience {
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
}
.View span {
  font-family: 'Pixelify Sans', sans-serif;
}

.Viewpoint::after {
  content: '';
  width: 0px;
  height: 3px;
  background: #0f0;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.Viewpoint.Activepoint::after {
  width: 100%;
}
.View ul {
  list-style: none;
}
.Skills {
  text-align: start;
  height: fit-content;
  color: white;
  flex-wrap: wrap;
  opacity: 0; /*Added this*/
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.SkillsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 1rem;
  margin-top: 50px;
}
.SkillsList div {
  width: fit-content;
  position: relative;
  background-color: #001908;
  padding: 30px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  cursor: default;
  transition: background-color 0.5s, transform 0.5s;
  margin-right: 40px;
}
.SkillsList div ion-icon {
  font-size: 50px;
  margin-bottom: 10px;
  color: #0f0;
}
.SkillsList div h2 {
  font-size: 30px;
  font-weight: 100;
  color: #fff;
  font-family: 'Pixelify Sans', sans-serif;
}
.SkillsList div a {
  text-decoration: none;
  color: #0f0;
  font-size: 12px;
  display: inline-block;
  transition: border 0.5s; /*This is not working the way I want it to*/
}
.SkillsList div a:hover {
  border-bottom: solid 1px green;
}
.SkillsList div:hover {
  background-color: #000713;
  transform: translateY(-10px);
}
.Projects {
  background-color: rgb(0, 0, 0);
  padding: 2px 0;
  text-align: start;
  height: fit-content;
  color: white;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.projectsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 10px;
}
.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
#CreateIT {
  width: 60%;
}
.layer {
  width: 100%;
  height: 0%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #001908);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 1000;
  margin-bottom: 20px;
}
.eye {
  margin-top: 20px;
  color: #001908;
  text-decoration: none;
  font-size: 25px;
  line-height: 70px;
  width: 60px;
  height: 60px;
  background-color: #0f0;
  text-align: center;
  border-radius: 50%;
}
.person {
  text-decoration: none;
  color: #0f0;
  font-family: 'Pixelify Sans', sans-serif;
}
.project:hover img {
  transform: scale(1.1);
}
.project:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 30px auto;
  width: fit-content;
  border: 1px solid #0f0;
  padding: 14px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s;
}
#Git {
  padding: 7px;
  min-width: fit-content;
  width: 25%;
}
.btn:hover {
  background-color: #0f0;
}
.Contact {
  background-color: #001908;
  padding: 2px 0;
  height: fit-content;
  color: white;
  display: block;
  text-align: center;
  position: relative;
}
.Contact h3 {
  margin-bottom: 0;
  display: block;
  flex-basis: 60%;
}
.Contact a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3em;
}
.Social-Icons a {
  font-size: 70px;
  display: inline-block;
  margin-top: 1%;
}
.animate {
  animation-name: floaty;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
.Copyright {
  color: white;
  position: relative;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.btn {
  position: relative;
  width: 50%;
  size: 10%;
  background-color: transparent;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  border: #001908 1.25em soild;
  color: #ffffff;
  padding: 2%;
  border-radius: 10em;
}
.btn:hover {
  transform: scale(1.1);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Checkbox list<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* From Uiverse.io by JkHuger */
#checklist {
  --background: #00000065;
  --text: #fff;
  --check: #0f0;
  --disabled: #c3c8de;
  --width: 100%;
  --height: 180px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 85px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: center;
}

#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#checklist label::before,
#checklist label::after {
  content: '';
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#checklist input[type='checkbox']::before,
#checklist input[type='checkbox']::after {
  content: '';
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type='checkbox']::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type='checkbox']::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type='checkbox']:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type='checkbox']:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type='checkbox']:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type='checkbox']:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type='checkbox']:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #0f0, 0 0 0 -2px #0f0, 0 0 0 -2px #0f0,
      0 0 0 -2px #0f0, 0 0 0 -2px #0f0, 0 0 0 -2px #0f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #0f0, 14px -8px 0 0px #0f0, 14px 8px 0 0px #0f0,
      0 15px 0 0px #0f0, -14px 8px 0 0px #0f0, -14px -8px 0 0px #0f0;
  }
}
/*------------------------------------Responsive Design--------------------------------------------------------*/
@media only screen and (min-width: 251px) and (max-width: 600px) /* 250px optimisation to come */ {
  .header {
    display: inline-block;
  }
  #Me {
    font-size: 0.9em;
    text-align: center;
  }
  .menu {
    left: 88vw;
    bottom: 0vh;
  }
  .menu li {
    transform-origin: 125px;
  }
  .menu.active .menuToggle {
    left: 500%;
  }
  .menu.active {
    left: 15vw;
    top: 30vh;
    font-size: 0.9em;
  }
  .menu.active li a::before {
    width: 40px;
    height: 40px;
  }
  .menu li a::after {
    display: none;
  }

  .row img {
    width: 35vw;
    border-radius: 50%;
  }
  .subTitle {
    font-size: 1.9em;
  }
  .row {
    display: inline-block;
    justify-content: center;
    width: 100vw;
    text-align: center;
    height: fit-content;
  }
  .Extra {
    width: 100vw;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  .View {
    font-size: 0.5rem;
  }
  #Skills {
    margin-left: 15px;
  }
  .AboutMe {
    width: 100%;
    height: fit-content;
  }
  .AboutC1,
  .AboutC2 {
    flex-basis: 100%; /*This is used to make the columns stack on top of each other*/
  }
  .AboutMe p {
    font-size: 0.6em;
  }
  .View img {
    width: 10vw;
    float: none;
  }
  .Skills {
    text-align: center;
    height: fit-content;
  }
  .SkillsList {
    margin-left: 15px;
    justify-content: center;
  }
  .Projects {
    text-align: center;
    height: fit-content;
  }
  .project {
    width: 100%;
    height: fit-content;
  }
  .SkillsList {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .SkillsList div {
    display: inline-block;
    padding: 10px;
    font-size: 0.7em;
    width: fit-content;
  }
  .SkillsList div ion-icon {
    font-size: 40px;
  }
  .SkillsList div h2 {
    font-size: 20px;
  }
  .Contact {
    position: relative;
    font-size: 0.6rem;
  }
  .project img {
    height: 65vh;
  }
  #preloader {
    background-size: 40%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  /* Preloader text */
  #Loading {
    font-size: 2em;
  }

  /* Menu Position */
  .menu {
    left: 85vw;
    top: -10vh;
  }

  #Me {
    font-size: 1.5em;
  }

  .AboutMe .row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .row img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
  }

  .Programming {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #0f0;
    gap: 2px;
  }
  .SkillsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
  }
}

/* From Uiverse.io by eduardo-amaro-maciel */
.animeBtn {
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  color: #fff;
}

.animeBtn::before,
.animeBtn::after {
  position: absolute;
  background: transparent;
  z-index: -1;
  transition: 1s;
  content: '';
}

.animeBtn::before {
  height: 50px;
  width: 130px;
}

.animeBtn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animeBtn:hover::before {
  width: 0px;
  background: #e8e8e8;
}

.animeBtn:hover::after {
  height: 0px;
  background: #fff;
}

.animeBtn:hover {
  background: #fff;
  color: #000;
}
/* <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Thank you card<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< --> */
/* From Uiverse.io by gharsh11032000 */
.card {
  position: fixed;
  width: 60%;
  height: 80%;
  background-color: #000;
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 300;
  color: #fff;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.4;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Thank You Button<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* From Uiverse.io by devanshsatwara */
.ui-btn {
  --btn-default-bg: #000;
  --btn-padding: 15px 20px;
  --btn-hover-bg: #001908;
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #0f0;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
}

/* button settings 👆 */

.ui-btn {
  text-align: center;
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
  border: 2px solid #2a2b3a;
  width: 20%;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-default-bg);
  box-shadow: 0px 0px 10px 0px #0f0;
  border: 2px solid #0f0;
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: '#';
  }

  5% {
    content: '.';
  }

  10% {
    content: '^{';
  }

  15% {
    content: '-!';
  }

  20% {
    content: '#$_';
  }

  25% {
    content: '№:0';
  }

  30% {
    content: '#{+.';}35%{content: '@}-?';
  }

  40% {
    content: '?{4@%';
  }

  45% {
    content: '=.,^!';
  }

  50% {
    content: '?2@%';
  }

  55% {
    content: '\;1}]';
  }

  60% {
    content: '?{%:%';
    right: 0;
  }

  65% {
    content: '|{f[4';
    right: 0;
  }

  70% {
    content: '{4%0%';
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: '{0%';
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: '4';
    right: 0;
  }

  95% {
    content: '2';
    right: 0;
  }

  100% {
    content: '';
    right: 0;
  }
}
